#background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("../assets/img/earth.webp");
}

#title-container {
  position: absolute;
  bottom: 10%;
  left: 20%;
  z-index: 1;
}

#title {
  font-family: "SharpGrotesk";
  font-size: 3.2rem;
  color: white;
  margin: 0px;
}

#go-arrow-container {
  display: flex;
  width: fit-content;
  overflow: hidden;
}

#go-arrow {
  height: 4rem;
  color: white;
}
