body {
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #030303;
}

#landscape {
  position: absolute;
  background-color: #fef5ea;
  top: 0px;
  left: 100vw;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  overflow: scroll;
}

#portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: #fef5ea;
}

#controls {
  padding: 10px;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.content {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-family: "Overused Grotesk";
}

#continue-portrait {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #ffb819;
  padding: 10px;
  margin: 4px auto;
}

a {
  color: #2d00ab;
}

@media (orientation: landscape) {
  #video {
    height: 100vh;
  }

  #portrait {
    display: none;
  }

  .content {
    padding: 20px 40px;
  }
}

@media (orientation: portrait) {
  #video {
    width: 100vw;
  }

  #landscape {
    display: none;
  }

  body {
    overflow: scroll;
  }
}
